@charset "ISO-8859-1";
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146, 146, 146, 1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 179px;
	text-align: center;
	color: rgba(255, 255, 255, 1.00);
	background-color: cadetblue;
}
/* div for Links in header */
#headerLinks {
	float: left;
	width: calc(100% - 179px);
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146, 146, 146, 1.00);
	padding-left: 66px;
	font-size: 14px;
}